# exclude every other things
*

# include .gitignore itself
!/*.gitignore

# include README.md
!/README.md

# include source files
!/*.c
!/*.cpp
!/*.h
!/*.hpp

# include /dat
!/dat

# include data file in /dat
!/dat/*.txt

# include m file that generate data
!/dat/*.m

# include /Fisher
!/Fisher

# include source file in /Fisher
!/Fisher/*.c
!/Fisher/*.cpp
!/Fisher/*.h
!/Fisher/*.hpp

# include /perception
!/perception

# include source file in /perception
!/perception/*.c
!/perception/*.cpp
!/perception/*.h
!/perception/*.hpp